[package]
name = "snowflaked"
version = "0.1.4"
edition = "2021"
publish = false

[lib]
crate-type = ["cdylib"]

[dependencies]
magnus = { version = "0.8" }
snowflaked = { version = "1.0.3", features = ["sync"] }
arc-swap = "1.8.2"
