name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: oxidize-rb/actions/setup-ruby-and-rust@v1
        with:
          ruby-version: '4.0.1'
          bundler-cache: true
          cargo-cache: true

      - name: RuboCop
        run: bundle exec rubocop -D

      - name: Clippy
        run: cargo clippy --manifest-path ext/snowflaked/Cargo.toml -- -D warnings

      - name: Rustfmt
        run: cargo fmt --manifest-path ext/snowflaked/Cargo.toml --check

  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:18
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: snowflaked_test
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    env:
      POSTGRES_HOST: localhost
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    strategy:
      fail-fast: false
      matrix:
        ruby: ['3.2', '3.3', '3.4', '4.0']
        rails: ["rails-7.2", "rails-8.0", "rails-8.1", "rails-main"]
        exclude:
          - rails: rails-main
            ruby: '3.2'

    steps:
      - uses: actions/checkout@v6
      - uses: oxidize-rb/actions/setup-ruby-and-rust@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
          cargo-cache: true

      - name: Install Appraisal
        run: bundle exec appraisal install

      - name: Compile
        run: bundle exec appraisal ${{ matrix.rails }} rake compile

      - name: Run tests with Appraisal
        run: bundle exec appraisal ${{ matrix.rails }} rake test

